Beetle.Tracker/Beetle.Tracker/Beetle.Tracker/TackerServerSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Beetle.Tracker" elementFormDefault="qualified" targetNamespace="urn:Beetle.Tracker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="trackerServerSection" type="tns:Beetle.Tracker.TrackerServerSectionCT" />
	<xs:complexType name="Beetle.Tracker.TrackerServerSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="trackers" type="tns:Beetle.Tracker.AppTrackerConfigCollectionCT">
				<xs:annotation>
					<xs:documentation>The Trackers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.AppTrackerConfigCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.AppTrackerConfigCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Beetle.Tracker.AppTrackerConfigCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Beetle.Tracker.AppTrackerConfigCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Beetle.Tracker.AppTrackerConfigCT">
				<xs:annotation>
					<xs:documentation>The AppTrackerConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.AppTrackerConfigCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.AppTrackerConfigCollectionClearCT" />
</xs:schema>
