Beetle.Tracker/Beetle.Tracker/Beetle.Tracker/TackerSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Beetle.Tracker" elementFormDefault="qualified" targetNamespace="urn:Beetle.Tracker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tackerSection" type="tns:Beetle.Tracker.TackerSectionCT" />
	<xs:complexType name="Beetle.Tracker.TackerSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="hosts" type="tns:Beetle.Tracker.TackerHostCollectionCT">
				<xs:annotation>
					<xs:documentation>The Hosts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="properties" type="tns:Beetle.Tracker.PropertyCollectionCT">
				<xs:annotation>
					<xs:documentation>The Properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="appName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AppName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.PropertyConfigCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.PropertyCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="propertyConfig" type="tns:Beetle.Tracker.PropertyConfigCT">
				<xs:annotation>
					<xs:documentation>The PropertyConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.TackerHostConfCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Tracker.TackerHostCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="tackerHostConf" type="tns:Beetle.Tracker.TackerHostConfCT">
				<xs:annotation>
					<xs:documentation>The TackerHostConf Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
