Beetle.Tracker/Beetle.Tracker/Beetle.Tracker/TrackerClientSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Beetle.Tracker" elementFormDefault="qualified" targetNamespace="urn:Beetle.Tracker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="trackerClientSection" type="tns:Beetle.Tracker.TrackerClientSectionCT" />
	<xs:complexType name="Beetle.Tracker.TrackerClientSectionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="appName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AppName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connections" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Connections.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
