KGlue/KGlue/AppSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:KGlue" elementFormDefault="qualified" targetNamespace="urn:KGlue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="appSection" type="tns:KGlue.AppSectionCT" />
	<xs:complexType name="KGlue.AppSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="items" type="tns:KGlue.ItemCollectionCT">
				<xs:annotation>
					<xs:documentation>The Items.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KGlue.ItemCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="args" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Args.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KGlue.ItemCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:KGlue.ItemCT">
				<xs:annotation>
					<xs:documentation>The Item Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
